@charset "UTF-8";
html {
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
#slider {
  position: relative;
  height: 405px;
  overflow: hidden;
}
#slider .slider_cont {
  position: relative;
  width: 4000px;
}
#slider .slider_cont li {
  width: 320px;
  position: relative;
  left: 0;
  margin: 10px 0;
  float: left;
}
#pagenation ul {
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
}
#pagenation ul li {
  float: left;
}
#pagenation ul li a {
  color: green;
  font-size: 120%;
  text-align: center;
}
