@charset "UTF-8";
html {
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
  display: block;
  position: relative;
}
#slider .slider_cont {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
#slider .slider_cont li {
  width: 320px;
  display: inline;
  left: 0;
  margin: 10px 0;
  float: left;
}
#prev {
  position: fixed;
  left: 0;
  top: 200px;
  font-size: 200%;
}
#next {
  position: fixed;
  right: 0;
  top: 200px;
  font-size: 200%;
}
.hide {
  color: #000;
}
